.main {
  display:block;
  width:440px;
  margin:100px auto 0;
}

.main h1, .main h2 {
  font-family: Helvetica, Arial,sans-serif;
  display:block;
  width:440px;
  height:50px;
  line-height:50px;
  padding:0 10px;
  margin:0;
  text-shadow: #fff 0px 1px 0px;
}

.main h1 {
  background:#ccc;
  color:#666;
}
.main h2 {
  background:#eee;
}

.main h2 a {
  color:#666;
  text-shadow: #fff 0px -1px 0px;
}