<!DOCTYPE html>
%head
  %meta{:charset => "utf-8"}
  /[if lt IE 9]
    %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
  %link{:href => "/css/style.css", :media => "screen", :rel => "stylesheet"}
  %title= "Update DynDNSimple Settings"
%body
  %section.main
    %h1 Update Settings
    -if !$settings.errors.empty?
      #error_container
        %p
          Ooops... Did you forget something?
          %ul
          -$settings.errors.each do |field, error|
            %li #{field.to_s.gsub('_', ' ').capitalize} #{error}
    %section#form.section.settings
      %form{:action => "", :method => "post"}
        .ip.link
          %a{:title => " Refresh your IP!", :href => "/refresh"} #{$settings.current_ip}
        .field
          %label{:for => "username"} Username
          %input#username{:name => "username", :value => $settings.username, :type => "text"}
        .field
          %label{:for => "password"} Password
          %input#password{:name => "password", :value => $settings.password, :placeholder => "********", :type => "password"}
        .field
          %label{:for => "domain"} Domain
          %input#domain{:name => "domain", :value => $settings.domain, :placeholder => "example.com", :type => "text"}
        .field
          %label{:for => "hostname"} Hostname
          %input#hostname{:name => "hostname", :value => $settings.hostname, :placeholder => "www", :type => "text"}
        .button.link
          %input{:type => "submit", :value => "Save Settings  →"}
          or
          %a{:href => "/"} cancel